.ProductItem {
    margin: auto;
    margin-top: 80px;
}

.ProductItem--image img {
    height: 480px;
    margin: auto;
}

.ProductItem--body {
    font-size: 16px;
    word-wrap: break-word;
    margin-left: 40px;
    margin-right: 40px;
}

.ProductItem--AddToCart {
    margin: 20px;
}

.VariantsSelectors {
    text-align: left;
    width: 200px;
    margin: auto;
}

.VariantsSelectors .Select-menu-outer {
    z-index: 400;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}